body {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  padding: env(safe-area-inset-top, 20px) env(safe-area-inset-right, 20px)
    env(safe-area-inset-bottom, 20px) env(safe-area-inset-left, 20px);
}

p.MuiTablePagination-selectLabel,
p.MuiTablePagination-displayedRows {
  margin-top: 12px !important;
  margin-bottom: 14px !important;
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform 0.5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.2);
}

/* USED */
.thumbnail-product {
  width: 70px;
  height: 93px;
  cursor: pointer;
}

.thumbnail-product > img {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 100%;
}

.nav-footer > .nav-item > .nav-link {
  color: gray;
}

.nav-footer > .nav-item > .nav-link > i {
  font-size: 25px;
}

.nav-footer > .nav-item > .nav-link > div {
  font-size: 12px;
}

.nav-footer > .nav-item > .nav-link.active {
  color: #007bff;
}

/* Override */
.layout-footer-fixed .wrapper .content-wrapper {
  padding-bottom: 90px !important;
}

.main-footer {
  gap: 1em;
}
